@import url('https://fonts.googleapis.com/css?family=Quicksand&subset=latin-ext');

* {
  box-sizing: border-box;

}
html {
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
  background-color: #fff;
  color: #d9d9d9;
  
}
body {
  margin: 0;
}

h2 {
    margin: 0;
    font-size: 3em;
}

.separator {
    font-size: 1.6em;
    padding: 2.6em 0;
    text-align: center;
    background: rgb(192, 165, 133);
}

.bg1 {
    background-color: #fff;
    background-image: url("../images/back1.jpg/");
}
.bg2 {
    background-color: #fff;
    background-image: url("../images/back2.jpg/");
}
.bg3 {
    background-color: #fff;
    background-image: url("../images/back3.jpg/");
}

.content {
    color: #fff;
    min-height: 650px;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-shadow: 0 0 20px #000;
    font-size: 1.8em;
}

.menu {
    width: auto;
    height: 150px;
}